<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="io.github.mthli.Bitocle"
          android:versionCode="5"
          android:versionName="4.0">

    <!-- SDK -->
    <uses-sdk android:minSdkVersion="14" />

    <!-- Permission -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Application -->
    <application android:label="@string/app_name"
                 android:icon="@drawable/ic_launcher"
                 android:largeHeap="true"
                 android:allowBackup="true">

        <!-- Splash -->
        <activity android:name=".Splash.SplashActivity"
                  android:label="@string/app_name"
                  android:theme="@style/SplashActivityTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Main -->
        <activity android:name=".Main.MainActivity"
                  android:label="@string/app_name"
                  android:theme="@style/MainActivityTheme"
                  android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>

        <!-- About -->
        <activity android:name=".About.AboutActivity"
                  android:label="@string/about_label"
                  android:theme="@style/AboutActivityTheme"
                  android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>

    </application>
</manifest>
